@{
    Layout = "_Layout";
}

<div style="">
    <h1 style="text-align: center">IRIC</h1>
</div>
<div class="card w-50 text-center" style="margin: 0 auto">
    <div class="card-body">
        База данных IRIC (Information Resources on Inorganic Chemistry) содержит краткую информацию об информационных системах в области неорганической химии и материаловедения. <br>
        Данные извлечены из публикаций. <br>
        Разработчики БД IRIC будут признательны владельцам информационных ресурсов за присланные дополнения и изменения.
    </div>
</div>
<br>
<div class="card w-50 text-center" style="margin: 0 auto">
    <div class="card-body">
        <h5 class="card-title">Базы данных</h5>
        <p class="card-test">Во вкладке <text style="font-weight: 600">базы данных</text> Вы можете найти полный список баз данных, содержащих информацию в области неорганической химии и материаловедения.</p>
        <a href="~/DataBases/DataBases" class="btn btn-primary">Перейти</a>
    </div>
</div>
<br>
<div class="card w-50 text-center" style="margin: 0 auto">
    <div class="card-body">
        <h5 class="card-title">Ключевые слова</h5>
        <p class="card-test">Во вкладке <text style="font-weight: 600">ключевые слова</text> вы можете найти базы данных по одному или нескольким ключевым словам</p>
        <a href="~/KeywordSearch/KeywordSearch" class="btn btn-primary">Перейти</a>
    </div>
</div>