@{
    Layout = "_Layout";
}

<div style="">
    <h1 style="text-align: center">IRIC</h1>
</div>
<div class="card">
    <div class="card-body" style="text-align: center">
        База данных IRIC (Information Resources on Inorganic Chemistry)содержит краткую информацию об информационных системах в области неорганической химии и материаловедения. <br>
        Данные извлечены из публикаций. <br>
        Разработчики БД IRIC будут признательны владельцам информационных ресурсов за присланные дополнения и изменения.
    </div>
</div>